*
  margin 0
  padding 0
img
  width 100%
a
  color #00B7FF
h1,
h2,
h3,
h4,
h5,
h6
  padding 0 !important
  margin 0 !important
hr
  padding 0 !important
  margin 0 0 10px 0 !important

/*Container */
/*.container
  width 100% !important
  padding 0 20px !important*/
/* Navbar*/
.navbar
  text-align center
.navbar li
  display inline-block

.item
  display block
  background-color green
  color white
  margin 2px
  padding 10px
  width 100px
  height 25px
  line-height 25px
  text-align center
  text-decoration none
  transition width 1s, height 1s

.item.hover
  color white
  width 110px
  height 30px
  line-height 30px
  transition width 1s, height 1s
/*-------------*/

/* Footer*/

.footer
  border-top 2px solid black
  text-align center
  /*-----------------------------*/
