*
  margin 0
  padding 0
img
  width 100%
a
  color #00B7FF

/* Navbar*/
.navbar li
  display inline-block

.item
  display block
  background-color green
  color white
  margin 2px
  padding 10px
  width 100px
  height 25px
  line-height 25px
  text-align center
  text-decoration none
  transition width 1s, height 1s

.item.hover
  color white
  width 110px
  height 30px
  line-height 30px
  transition width 1s, height 1s
/*-------------*/
