extends layout
block content
  h1 Contáctanos
  h4=title
  h5 #{title}
  -for(var i=0; i<20; i++){
    p number: #{i}
  -}
  
//- Javascript
    operador terciario
    if(true){
      comando1
    }else{
      comando2
    }
    
    (true or false)?primera:segunda
    
    operador binario
      && and
      || or
    binario ..
    &
    |
