extends layout
block content
  h1 Contáctanos
  form(action="/contacto", method="POST")
    input(type="text", name="title", placeholder="título")
    input(type="text", name="author", placeholder="Autor")
    input(type="number", name="year", placeholder="Año")
    input(type="submit", value="Enviar datos")
//-  h4=title
  h5 #{title}
  -for(var i=0; i<20; i++){
    p number: #{i}
  -}
  
//- Javascript
    operador terciario
    if(true){
      comando1
    }else{
      comando2
    }
    
    (true or false)?primera:segunda
    
    operador binario
      && and
      || or
    binario ..
    &
    |
