//- Menu
//- Slider
//- Contenido
//- Footer (copyright)

extends layout
block content
  //- Header
  .content
    #header
      .logo
        img( style="width:200px; height:50px", src="/images/gem1.png")
      .title
        h2 Centro de estudiantes Facultad de Ciencias
    #menu
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Dropdown
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        ul
          li
            a.btn.btn-primary(href="#") primer item
          li
            a.btn-secondary(href="#") segundo item
          li
            a.btn.btn-warning(href="#") tercer item
    #slider
      .portrait(style="border:2px solid red; padding: 50px 0 0 0; margin:50px ")
        img( style="width:200px; height=50px", src="/images/gem1.png")
    #section
      .section
        p texto cualquiera
      .section
        p texto cualquiera
      .section
        p texto cualquiera
    #footer
      h2 footer
      p Powered by Freider
  //- .menu#menu
  //- p Mirian escribe algo por favor. div es caja. clase es punto y # es el identificador. El id tiene mayor prioridad que la clase
