extends layout
block content
	h1 Formulario
	h2 Agregar nuevo libro.
	form()
		input(type='text', name='title', placeholder='Título')
		input(type='text', name='author', placeholder='Autor')
		input(type='text', name='ciclo', placeholder='Ciclo')
		input(type='text', name='school', placeholder='Escuela')
		input(type='submit', value='Agregar')
