extends layout

block content
  header
    h1 CEC FC
    h5 Centro de estudiantes - Facultad de Ciencias
    
  hr
  nav
    ul
      li
        a(href='#') Download
      li
        a(href='#') Quick start
      li
        a(href='#') Upgrade
      li
        a(href='#') Tutorials
      li
        a(href='#') Help
      li
        a(href='#') Manual
      li
        a(href='#') Papers
      li
        a(href='#') Developers
      li
        a(href='#') People
      li
        a(href='#') License
