img{
  width: 100%;
}
.box{
  /* position: relative; top right left funciona con position*/
  margin: 0 auto;
  /*padding: 0 0 0 50px;*/ /* sentido horario*/
  background-color: gray;
  /*border: 2px solid red;*/
  width: 320px;
  height: 480px;
  /* border-radius: 0 0 15px 15px; */
}

.box-two{
  /* position: relative; */
  /* margin-top: 40px; */
  background-color: pink;
  /*border: 2px solid blue;*/
  width: 100%;
  height: 30px;
}

.box-three{
  /* position: absolute;
  top: 0; */
  display: none;
  border: 2px dashed green;
  width: 100px;
  height: 200px;
}

.container{
  background-color: rgba(130, 255, 0, 0.5);
  height: 410px;
  width: 100%;
}

.portrait{
  background-image:
  url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Flag_of_Peru_%28state%29.svg/900px-Flag_of_Peru_%28state%29.svg.png);
  background-size: cover;
  background-repeat: no-repeat;/*repeat-x*/
  background-position: center center;
  background-color: lightgreen;
  height: 150px;
  width: 100%;
}

.section{
  font-family: 'Cardo', serif;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
  color: blue;
  text-align: justify;
  background-color: white;
  height: 100px;
  width: 280px;
  margin: 18px auto;
}

/*.section:hover{
  background-color: purple;
}*/
.footer{
  background-color: black;
  height: 40px;
  width: 100%;
}
