/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
/*.container{
    position: relative;
}*/
nav.bg-light{
    border-top: 4px solid black;
    background-color: yellow !important;
    margin-bottom: 20px;
}
.navbar-light .navbar-nav .active > .nav-link,nav.nav-link{
    color: black !important;
}
.navbar-light .navbar-nav .nav-link.disabled{
  color: white !important;
}
*{
  margin:0;
  padding: 0;
}
.blue{
  background: blue !important;
}
img{
    width: 100%;
}
/* Header*/
#header{
    width: 100%;
    border: 2px solid red;
    margin-bottom: 20px;
}
.portrait{
    width: 100%;
}
.row{
  padding: 0;
}
.post{
  background-color: white;
  border: 2px solid gray;
  margin: 14px;
  padding: 14px;
  box-shadow: 0px 3px 50px green;
}
.post:hover{
  background-color: pink;
  box-shadow: 0px 3px 5px #000000;
  transition: background-color 0.5s;
  transform: rotate(20deg);
}
.section{
    border: 2px solid gray;
    padding: 20px 0 20px ;
    width: 200px !important;
    border-radius: 15px;
    background: white;
    margin: 10px 0px 10px 0;
}

#footer{
  background: black;
  text-align:center;
  color: white;
  height: 40px;
  line-height: 40px;
  /*font-height: 40pc;*/
}
