/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
/*.container{
    position: relative;
}*/
*{
  margin:0;
  padding: 0;
}
img{
    width: 100%;
}
.portrait{
    width: 100%;
}
.section{
    border: gray;
    padding: 20px 0 20px ;
    width: 200px !important;
    border-radius: 15px;
    background: pink;
    margin: 10px 0px 10px 0;
}

#footer{
  background: black;
  text-align:center;
  color: white;
  height: 40px;
  line-height: 40px;
  /*font-height: 40pc;*/
}
